<div class="container">
  <div class="row justify-content-center">
    <div class="card col-8 mt-5 mb-5">
      <h4 class="text-center mt-3 mb-4">Mi Perfil</h4>

      <div class="row">
        <div class="form-group mt-2 col">
          <label>RUT</label>
          <input class="form-control" disabled value="{{ userData.rut }}" />
        </div>

        <div class="form-group mt-2 col">
          <label>Nombre Completo</label>
          <input
            class="form-control"
            disabled
            value="{{ userData.names }} {{ userData.lastName }} {{
              userData.mothersLastName
            }}"
          />
        </div>
      </div>

      <div class="row">
        <div class="form-group mt-2 col">
          <label>Dirección</label>
          <input
            class="form-control"
            disabled
            value="{{ userData.address }}, {{ userData.commune }}, Región {{
              userData.region
            }}"
          />
        </div>
      </div>

      <div class="row">
        <div class="form-group mt-2 col">
          <label>Correo Electrónico</label>
          <input class="form-control" disabled value="{{ userData.email }}" />
        </div>
      </div>

      <form [formGroup]="profileForm" (ngSubmit)="onModify()">
        <div class="row">
          <div class="form-group mt-2 col">
            <label>Teléfono</label>
            <input type="text" class="form-control" formControlName="phone" />
          </div>
        </div>

        <div class="form-group mt-4">
          <button type="submit" class="btn btn-primary col">
            Actualizar Teléfono
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
