<div class="container">
  <div class="row justify-content-center">
    <div class="card col-xl-7 col-lg-8 col-sm-11 my-5 mx-2">
      <h3 class="text-center mt-3">Crea tu Cuenta</h3>

      <form [formGroup]="registerForm" (ngSubmit)="onRegister()">
        <div class="row">
          <div class="form-group mt-4 col">
            <label for="rut">RUT</label>
            <input
              type="text"
              class="form-control"
              formControlName="rut"
              id="rut"
              required
            />

            <div
              class="alert alert-danger text-center mt-3"
              *ngIf="rut.invalid && rut.touched"
              validateRut
              role="alert"
            >
              Debes Ingresar un RUT Valido con el Siguiente Formato 11111111-1.
            </div>
          </div>

          <div class="form-group mt-4 col">
            <label for="names">Nombres</label>
            <input
              type="text"
              class="form-control"
              formControlName="names"
              id="names"
            />

            <div
              class="alert alert-danger text-center mt-3"
              *ngIf="names.invalid && names.touched"
              role="alert"
            >
              Debes Ingresar Uno o Varios Nombres de Máximo 30 Caracteres.
            </div>
          </div>
        </div>

        <div class="row">
          <div class="form-group mt-4 col">
            <label for="lastName">Apellido Paterno</label>
            <input
              type="text"
              class="form-control"
              formControlName="lastName"
              id="lastName"
            />

            <div
              class="alert alert-danger text-center mt-3"
              *ngIf="lastName.invalid && lastName.touched"
              role="alert"
            >
              Debes Ingresar un Apellido Paterno de Máximo 15 Caracteres.
            </div>
          </div>

          <div class="form-group mt-4 col">
            <label for="mothersLastName">Apellido Materno</label>
            <input
              type="text"
              class="form-control"
              formControlName="mothersLastName"
              id="mothersLastName"
            />

            <div
              class="alert alert-danger text-center mt-3"
              *ngIf="mothersLastName.invalid && mothersLastName.touched"
              role="alert"
            >
              Debes Ingresar un Apellido Materno de Máximo 15 Caracteres.
            </div>
          </div>
        </div>

        <div class="row">
          <div class="form-group mt-4 col">
            <label for="email">Correo Electrónico</label>
            <input
              type="email"
              class="form-control"
              formControlName="email"
              id="email"
            />

            <div
              class="alert alert-danger text-center mt-3"
              *ngIf="email.invalid && email.touched"
              role="alert"
            >
              Debes Ingresar un Correo Electrónico que Sea Valido.
            </div>
          </div>

          <div class="form-group mt-4 col">
            <label for="address">Dirección</label>
            <input
              type="text"
              class="form-control"
              formControlName="address"
              id="address"
            />

            <div
              class="alert alert-danger text-center mt-3"
              *ngIf="address.invalid && address.touched"
              role="alert"
            >
              Debes Ingresar una Dirección que Sea Valida de Máximo 30
              Caracteres.
            </div>
          </div>
        </div>

        <div class="row">
          <div class="form-group mt-4 col">
            <label for="region">Región</label><br />
            <select
              (change)="loadCommunes()"
              formControlName="region"
              class="form-control"
              id="region"
            >
              <option value="">Selecciona</option>
              <option *ngFor="let item of regionsList" value="{{ item.name }}">
                {{ item.name }}
              </option>
            </select>

            <div
              class="alert alert-danger text-center mt-3"
              *ngIf="region.invalid && region.touched"
              role="alert"
            >
              Debes Seleccionar una Región de la Lista.
            </div>
          </div>
          <div class="form-group mt-4 col">
            <label for="commune">Comuna</label><br />
            <select formControlName="commune" class="form-control" id="commune">
              <option value="">Selecciona</option>
              <option *ngFor="let item of communesList" value="{{ item.name }}">
                {{ item.name }}
              </option>
            </select>

            <div
              class="alert alert-danger text-center mt-3"
              *ngIf="commune.invalid && commune.touched"
              role="alert"
            >
              Debes Seleccionar una Comuna de la Lista.
            </div>
          </div>
        </div>

        <div class="row">
          <div class="form-group mt-4 col">
            <label for="phone">Teléfono</label>
            <input
              type="text"
              class="form-control"
              formControlName="phone"
              id="phone"
            />

            <div
              class="alert alert-danger text-center mt-3"
              *ngIf="phone.invalid && phone.touched"
              role="alert"
            >
              Debes Ingresar un Teléfono o Celular de Máximo 12 Caracteres.
            </div>
          </div>
          <div class="form-group mt-4 col">
            <label for="password">Contraseña</label>
            <input
              type="password"
              class="form-control"
              formControlName="password"
              id="password"
            />

            <div
              class="alert alert-danger text-center mt-3"
              *ngIf="password.invalid && password.touched"
              role="alert"
            >
              Debes Ingresar una Contraseña de Máximo 20 y Minimo 6 Caracteres.
            </div>
          </div>
        </div>

        <div class="form-group mt-4">
          <button type="submit" class="btn btn-primary col">
            Crear Cuenta
          </button>
        </div>
      </form>

      <div class="d-flex justify-content-around mt-4 mb-4">
        <div style="font-size: 15px">
          <label>¿Tienes una cuenta?&nbsp;</label>
          <a routerLink="/login">Iniciar Sesión</a>
        </div>
      </div>
    </div>
  </div>
</div>
